body {
    font-family: "Inter", sans-serif !important;
    background-color: #f9f9f9 !important;
  }
  
  a {
    color: #FF6B00 !important;
  }
  
  .km-button {
    background-color: #FF6B00 !important;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  
  .container {
    background: rgb(37, 201, 22);
  }